body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(picture.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
.form-layout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(0,0,0,0.5);
    box-shadow: inset -2px 2px 2px;
    border-radius: 10px;
    padding: 1.5rem;
}
h1{
    padding: 0 0 20px 0;

    color: white;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt-field{
    position: relative;
    border-bottom: 2px solid white;
    margin: 30px 0;
}
.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: white;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #0fbbff;
    transition: .5s;
}
.txt-field input:focus ~ label,
.txt-field input:valid ~ label{
    top: -5px;
    color: #26c4d9;
}
.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: aquamarine;
    font-weight: bold;
}
.pass:hover{
    text-decoration: underline;
}
input {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input:hover{
   
    transition: .5s;
}
.custombtn{
    background-color: white;
    color: #000;
}
.custombtn:hover{
    background-color: #2691d9;
    color: #fff;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: white;
}
.signup_link a{
    color: aquamarine;
    text-decoration: none;
    
}
.signup_link a:hover{
    text-decoration: underline;
}
